################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/2020-2/.vscode
/2020-2/bin/Debug/netcoreapp3.1
/2020-2/obj
/2020-2/.vs/2020-2/v16
