################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/2020-2/.vscode
/2020-2/bin/Debug/netcoreapp3.1
/2020-2/obj
/2020-2/.vs/2020-2/v16
/2020-2/.vs/2020-2/DesignTimeBuild
/2020-3/Day3/.vs/Day3/v16
/2020-3/Day3/bin/Debug/netcoreapp3.1
/2020-3/Day3/obj
/2020-4/day4/.vs/day4/v16
/2020-4/day4/bin/Debug/netcoreapp3.1
/2020-4/day4/obj
